/*====================
      HTML Elements
=====================*/
body {
 background-color: powderblue;
}
h2 {
	color: blue;
}
p {
	color: red;
}

.test {
	background:color:red;
}
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

body {background-color: powderblue;}

h2 {
  color: blue;
  font-family: verdana;
    font-size: 250%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160% ;
  border: 5px dashed black;
  padding: 30px;
}

#p01 {
  color:pink;
}
#video-container {
  margin: 2em auto 0;
  width: 500px;
  padding: 2em;
  background: white;
  -webkit-box-shadow: 0 1px 10px #D9D9D9;
  -moz-box-shadow: 0 1px 10px #D9D9D9;
  -ms-box-shadow: 0 1px 10px #D9D9D9;
  -o-box-shadow: 0 1px 10px #D9D9D9;
  box-shadow: 0 1px 10px #D9D9D9;
}
           /*====================
                Custom Classes
            =====================*/
/*====================
Rounded Hover Hexagon
======================*/
.rhex {
  position: relative;
  margin: 1em auto;
  width: 10em; height: 17.32em;
  /*border-radius: 1em/.5em;*/
  border-radius: 1em/.5em;
  opacity: .25;
  background: orange;
  transition: opacity .5s;
  cursor: pointer;
}
.rhex:before, .rhex:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.rhex:before {
  transform: rotate(60deg);
}
.rhex:after {
  transform: rotate(-60deg);
}
.rhex:hover {
  opacity: 1;
}
